<form class="form-horizontal">
  <div class="form-group">
    <label for="episode-title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input id="episode-title" class="form-control"
             value="<%= episodeTitle %>">
    </div>
  </div>
  <div class="form-group">
    <label for="episode-summary" class="col-sm-2 control-label">Summary</label>
    <div class="col-sm-10">
      <input id="episode-summary" class="form-control"
             value="<%= episodeSummary %>">
    </div>
  </div>
  <div class="form-group">
    <label for="episode-description" class="col-sm-2 control-label">
      Description
    </label>
    <div class="col-sm-10">
      <textarea id="episode-description"
                class="form-control"><%= episodeDescription %></textarea>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label class="col-sm-2 control-label">Audio</label>
    <div class="col-sm-10" id="audio-selector-view">
      <div id="episode-selected-audio"></div>
      <button type="button"
              id="open-audio-selector" class="btn btn-sm btn-default">
        <i class="fa fa-microphone"></i> Select...
      </button>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <label class="col-sm-2 control-label">Links</label>
    <div id="episode-external-links" class="col-sm-10">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Guests</label>
    <div id="episode-personality-list" class="col-sm-10">
    </div>
  </div>
</form>
<hr>

<div id="episode-save-action-view">
</div>
