<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Audio</th>
      <th>Guests</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="episode-summaries">
    <% episodes.forEach(function(e) { %>
    <tr>
      <td><%= e.get('title') %></td>
      <td><%= e.get('summary') %></td>
      <td>
        <% if (e.media) { %>
        <% m = e.media; %>
        <a href="/media/<%= m.get('media_id') %>" target="_blank">
          <%= '{0} ({1})'.replace('{0}', m.get('name'))
              .replace('{1}', m.formattedSize()) %>
          <% }; %>
        </a>
      </td>
      <td>
        <% e.get('guests').forEach(function(p) { %>
        <div>
          <img src="<%= p.get('twitter').profile_image_url %>" height="30" width="30" />
          <%= p.get('twitter').screen_name %>
        </div>
        <% }); %>
      </td>
      <td>
        <% s = e.get('status') %>
        <% if (s.saved_as === 'scheduled') { %>
        Scheduled on <%= s.schedule_date %>
        <% } else if (s.saved_as === 'published') { %>
        Published on <%= s.publish_date %>
        <% } else if (s.saved_as === 'draft') { %>
        Draft
        <% } %>
      </td>
      <td>
        <a class="btn btn-sm btn-default"
           href="/episode/<%= e.get('episode_id') %>" id="episode-summary-edit">
          <i class="fa fa-pencil-square-o"></i> Edit
        </a>
        <a class="btn btn-sm btn-default"
           href="/episode/copy/<%= e.get('episode_id') %>">
          <i class="fa fa-files-o"></i> Copy
        </a>
        &nbsp;
        <button type="button" class="btn btn-sm btn-danger" id="delete-episode"
                data-episode-id="<%= e.get('episode_id') %>"
                data-episode-title="<%= e.get('title') %>">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
