<td>
  <% if (status !== 'found') { %>
  <span id="warning-not-found-link" title="The link doesn't seem valid"
        data-toggle="tooltip">
    <i class="fa fa-exclamation-circle"></i>
  </span>
  <% }; %>
  <a href="<%= url %>" target="_blank"><%= title %></a>
</td>
<td>
  <button type="button" id="move-up-link"
          <% if (!uppable) { %>disabled<% } %>
          class="btn btn-xs btn-default">
    <i class="fa fa-arrow-up"></i>
  </button>
  <button type="button" id="move-down-link"
          <% if (!downable) { %>disabled<% } %>
          class="btn btn-xs btn-default">
    <i class="fa fa-arrow-down"></i>
  </button>
  &nbsp;
  <button type="button" id="remove-link"
          class="btn btn-xs btn-warning">
    <i class="fa fa-times"></i>
  </button>
</td>
