<table id="media-summaries" class="table table-hover">
  <thead>
    <th>File</th>
    <th>Size</th>
    <th>Date uploaded</th>
    <% if (showEpisode) { %>
    <th>Episode</th>
    <% } %>
    <% if (showDelete) { %>
    <th></th>
    <% } %>
  </thead>
  <tbody>
    <% mediaList.forEach(function(m) { %>
    <tr>
      <td>
        <a class="media-link" href="/media/<%= m.get('media_id') %>"
           target="_blank">
          <%= m.get('name') %>
        </a>
      </td>
      <td><%= m.formattedSize() %></td>
      <td><%= m.formattedDatetime() %></td>

      <% if (showEpisode) { %>
      <td>
        <% var ep = m.get('episode');
           if (ep) { %>
        <a href="/episode/<%= ep.episode_id %>">
          <%= ep.title %>
        </a>
        <% } else { %>
        <% } %>
      </td>
      <% } %>

      <% if (showDelete) { %>
      <td>
        <button type="button" class="btn btn-sm btn-danger delete-media"
                data-media-id="<%= m.get('media_id') %>"
                data-media-name="<%= m.get('name') %>">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
      <% } %>
    </tr>
    <% }); %>
  </tbody>
</table>
