<photo-selector-notify />

<div class="selector-header">
  <span class="btn btn-default btn-file btn-sm">
    <i class="fa fa-plus"></i>Add...
    <input type="file" class="form-control"
           id="photo-selector-file-input">
  </span>
</div>

<div class="row">
  <% photos.forEach(function(p) { %>
  <div class="col-xs-4 col-md-2">
    <a href="#" class="thumbnail select-photo"
       data-photo-id="<%= p.get('photo_id') %>">
      <img src="/photo/<%= p.get('thumbnail_id') %>" />
      <% if (p.selected) { %>
      <div class="caption">
        <i class="fa fa-check"></i>
      </div>
      <% } %>
    </a>
  </div>
  <% }); %>
</div>
