{% extends "dashboard-base.html" %}

{% block dashboard_content %}
<h2>Show</h2>
{% if updated and updated.get('result') == 'success' %}
<div class="alert alert-success">
  Change saved!
</div>
{% endif %}
{% if updated and updated.get('result') == 'error' %}
<div class="alert alert-danger">
  Something went wrong. Please try again.
</div>
{% endif %}
<hr>

<div id="show-editor">
</div>

<script type="text/javascript">
    $(function() {
        {% if show_id %}
        new teine.ShowEditorView({
            show_id: "{{ show_id }}"
        });
        {% else %}
        new teine.ShowEditorView();
        {% endif %}
    });
</script>
{% endblock %}
