<input id="episode-title" placeholder="title">
<input id="episode-summary" placeholder="summary">
<input id="episode-description" placeholder="description">

<h4>Audio</h4>
<input id="episode-audio" type="file">
<button id="upload-episode-audio" class="btn btn-sm">Add media</button>

<h4>Links</h4>
<div id="episode-external-links">
</div>

<h4>People</h4>
<div id="episode-personality-list">
</div>

<hr>
<button class="btn" id="publish">Publish</button>
<button class="btn" id="save-draft">Save draft</button>

<input id="schedule-datetime" type="date">
<button class="btn" id="schedule">Schedule</button>
