<h3>Media Library</h3>
<br>
<div class="form-group">
  <span class="btn btn-default btn-file btn-sm">Choose file to add...
    <input type="file" class="form-control"
           id="media-manager-file-input">
  </span>
  <button id="upload-media"
          class="btn btn-primary btn-sm <%= buttonUploadState %>">
    Upload
  </button>
  <br>
  <%= inputFileName %>
</div>

<hr>

<ul class="nav nav-tabs">
  <li role="presentation" class="<%= tabStatusUnused %>">
    <a id="show-unused-media" href="#">Not used</a>
  </li>
  <li role="presentation" class="<%= tabStatusUsed %>">
    <a id="show-used-media" href="#">Used</a>
  </li>
</ul>
<div id="media-list">
</div>
