<form class="form-signup">
  <h3 class="form-signup-heading">New to Teine?</h3>
  <label for="input-user-name" class="sr-only">Username</label>
  <input type="" id="input-user-name" name="username"
         class="form-control signup-entry"
         placeholder="Username" required autofocus>
  <label for="input-email" class="sr-only">Email</label>
  <input type="" id="input-email" name="email"
         class="form-control signup-entry"
         placeholder="Email" required autofocus>
  <label for="input-password" class="sr-only">Password</label>
  <input type="password" id="input-password" name="password"
         class="form-control signup-entry" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block"
          id="submit-signup" type="button">
    Sign up
  </button>
</form>
